<p id="notice"><%= notice %></p>

<p>
  <strong>Band name:</strong>
  <%= @group.band_name %>
</p>

<p>
  <strong>Members:</strong>
  <%= @group.members %>
</p>

<p>
  <strong>Debut:</strong>
  <%= @group.debut %>
</p>

<p>
  <strong>Type:</strong>
  <%= @group.status %>
</p>

<table>
  <thead>
    <tr>
      <th>Total concerts |</th>
      <th>Last concert |</th>
      <th>Max Audience |</th>
      <th>Max Duration</th>
  
    </tr>
  </thead>

  <tbody>
    <tr>
        
    </tr>
  </tbody>
</table>


<%= link_to 'Add_concert', new_concert_path(@concert) %> |

<%= link_to 'Edit', edit_group_path(@group) %> |

<%= link_to 'Back to Groups', groups_path %>|
